{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true,
      "useBuiltIns": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "react-hot-loader/babel",
    "universal-import",
    "import-graphql",
    "@babel/plugin-transform-spread"
  ]
}