{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ],
    "@babel/preset-react",
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true
    }]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "react-hot-loader/babel",
    "universal-import"
  ]
}